<html>
   <body>
      <form action = "{{ url_for('add_prod') }}" method = "POST">
         <h3>Product Information</h3>

         Product ID<br>
         <input type = "text" name = "pid" /></br>

         Product Name<br>
         <input type = "text" name = "pnm" /></br>

         Manufacturer<br>
         <input type = "text" name = "pmanu" /><br>
         
         Product Price<br>
         <input type = "text" name = "pprice" /><br>

         <input type = "submit" value = "submit" /><br>
      </form>
      
   </body>
</html>